/target/
.idea/*
.idea/
.idea/compiler.xml
~$*.xls[x]
Automation_Report.html
test-output/
.settings
*.iml
.classpath
.project
TestResult/
download/
encrypted_files/
to_encrypt/
to_claim/
*.gpg
/src/test/resources/Auth_member_setup/to_decrypt_result/
/src/test/resources/Auth_member_setup/to_decrypt/
