/target/
.idea/
.idea/*
.idea/compiler.xml
**/.idea/compiler.xml
~$*.xls[x]
Automation_Report.html
test-output
test-output/
.settings
*.iml
.classpath
.project
TestResult/
download/
encrypted_files/
to_encrypt/
to_claim/
/bin/
**/*debug*
allure-results/
/allure-results/
sonar_scanner_call.bat
.scannerwork/
generatedFileCSV/*
DownloadFiles/*
/PerformanceScripts/altevv/TestReport/
/PerformanceDataImportFile/
*.txt
*.log
